
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; 
}


header {
  background-color: #3cb62c;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}


nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s, text-decoration 0.3s;
}

nav a:hover {
  color: #ffeb3b;
  text-decoration: underline;
}


main {
  padding: 30px 15%;
}

section {
  background-color: white;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

section h2 {
  color: hsl(133, 80%, 52%);
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}
