
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #ff2638;
  color: white;
  text-align: center;
  padding: 25px 0;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header p {
  margin-top: 5px;
  font-size: 1.1em;
  opacity: 0.9;
}


main {
  flex: 1;
  padding: 20px;
  text-align: center;
}

main h2 {
  color: #d61d1d;
  margin-bottom: 10px;
}

main p {
  line-height: 1.6;
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}

footer a {
  color: #c71a65;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
