body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f9fafb;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}


header {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}


nav {
  background-color: #34495e;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

nav p {
    color: gray;
}

main {
  padding: 20px;
  max-width: 900px;
  margin: 20px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

article {
  background-color: #ecf0f1;
  padding: 15px;
  border-left: 5px solid #3498db;
  margin-bottom: 20px;
  border-radius: 6px;
}


figure {
  text-align: center;
  margin-top: 15px;
}

figcaption {
  font-size: 0.9em;
  color: #555;
  margin-top: 5px;
}


aside {
  background-color: #f0f9ff;
  padding: 15px;
  border-left: 5px solid #1abc9c;
  border-radius: 6px;
}


footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  font-size: 14px;
}