table {
    margin: auto;
    margin-bottom: 15px;
    border-collapse: collapse;
    width: 30%;
}

table, th, td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

.tabela2 th {
    background-color: #add8ed;
    color: #000080;
}

.tabela2 td {
    background-color: #f0f8ff;
    color: #000080;
}


.td1 {
    background-color: #add8ed;
}

.td2 {
    font-weight: bold;
    color: #000080;
}

h1 {
    text-align: center;
}

.img1 {
    height: 100px;
    width: 100px;
    text-align: center;
}

.tabela4 {
    border: 3px solid black;
}