body{
    margin: 0;
    background-color: rgb(0, 0, 0);
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex: 1 1 calc(33.333% - 20px);
    min-width: 250px;
    background-color: rgb(211, 0, 0);
    padding: 30px;
    color: white;
    border-radius: 10px;
}

.card h2 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
}

.card p {
    margin: 0;
    font-size: 1em;
    opacity: 0.9;
}