body{
    margin: 0;
    background-color: rgb(0, 0, 0);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
    padding: 20px;
}

.imagem img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.imagem img:hover {
    transform: scale(1.05);
}