body{
    margin: 0;
    background-color: rgb(0, 0, 0);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(211, 0, 0);
}

.container h1 {
    color: white;
    font-size: 3em;
    margin: 0;
}